<div id="dashboard" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>

    <div class="center">
        <!-- HEADER -->
        <citiglobal-header iconName="dashboard">
            <ng-template #title> Welcome back, John Doe </ng-template>
        </citiglobal-header>
        <!-- / HEADER -->

        <!-- Content Card  -->
        <div class="content-card">
            <!-- Content  -->
            <div class="card"></div>
        </div>
    </div>
</div>
