<div id="subjects" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>

    <div class="center">
        <!-- HEADER -->
        <citiglobal-header iconName="library_books">
            <ng-template #title> All Subjects </ng-template>
            <ng-template #search>
                <citiglobal-search
                    [searchValue]="search$ | async"
                    (search)="handleSearch($event)"
                ></citiglobal-search>
                <citiglobal-filter-list
                    [hasFilters]="hasFilters$ | async"
                    (buttonClick)="onShowFilters()"
                ></citiglobal-filter-list>
            </ng-template>

            <ng-template #actions>
                <button
                    mat-raised-button
                    class="buttons warn mt-24 mt-md-0"
                    (click)="onCreate()"
                    *ngIf="'create' | able : 'Subjects'"
                >
                    <span>CREATE SUBJECT</span>
                </button>
            </ng-template>
        </citiglobal-header>
        <!-- / HEADER -->

        <!-- Content Card  -->
        <div class="content-card">
            <mat-table
                #table
                matSort
                class="items-table"
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
                [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
                [dataSource]="dataSource$"
                [matSortActive]="(listState$ | listStateMatSort | async).active"
                [matSortDirection]="
                    (listState$ | listStateMatSort | async).direction
                "
                (matSortChange)="onToggleSort($event)"
            >
                <!-- Subject Code Column -->
                <ng-container [matColumnDef]="SUBJECT_SORTABLES.SUBJECT_CODE">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Subject Code</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.subjectCode }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container [matColumnDef]="SUBJECT_SORTABLES.DESCRIPTION">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Description</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">{{ item.description }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Created At Column -->
                <ng-container [matColumnDef]="SUBJECT_SORTABLES.CREATED_AT">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Created At</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <p class="text-truncate">
                            {{ item.createdAt | dateFormat }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container [matColumnDef]="SUBJECT_SORTABLES.ACTIVE">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Active</mat-header-cell
                    >
                    <mat-cell *matCellDef="let item">
                        <span>
                            <mat-icon
                                *ngIf="item.isActive"
                                class="active-icon green-600 s-16"
                                >check</mat-icon
                            >
                            <mat-icon
                                *ngIf="!item.isActive"
                                class="active-icon red-500 s-16"
                                >close</mat-icon
                            >
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>
                <!-- [class]="{ deleted: item.deletedAt }" -->
                <mat-row
                    *matRowDef="let item; columns: displayedColumns"
                    class="item"
                    matRipple
                    (click)="onSelectRow(item)"
                ></mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="total$ | async"
                [pageIndex]="pageIndex$ | async"
                [pageSize]="pageSize$ | async"
                [pageSizeOptions]="pageSizeOptions$ | async"
                (page)="onChangePage($event)"
            >
            </mat-paginator>
        </div>
    </div>
</div>
