<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{title}}</span>
      <button mat-icon-button (click)="onCancel()" aria-label="Reset dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">
    <div class="category-checkbox" *ngFor="let item of inputData" fxLayout="row" fxLayoutAlign="start start">
      <mat-checkbox [(ngModel)]="item.isChecked">{{ item.label | titlecase }}</mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button mat-button class="mr-8" (click)="onReset()">
      RESET
    </button>

    <button color="accent" mat-raised-button class="save-button" (click)="onApply()">
      APPLY
    </button>

  </div>
</div>
