<div id="subject-edit" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>

    <div class="center">
        <!-- HEADER START -->
        <citiglobal-header
            [iconName]="'person_add'"
            (backEvent)="navigateBack()"
            [isBack]="true"
        >
            <ng-template #title>
                {{ subjectCode }} Subject Details
            </ng-template>
            <ng-template #subTitle> User Detail </ng-template>
            <ng-template #actions>
                <button
                    mat-raised-button
                    class="buttons fuse-white mt-24 mt-md-0"
                    *ngIf="isAllowSubmit"
                    [disabled]="form.invalid"
                    (click)="submit()"
                >
                    SAVE
                </button>
            </ng-template>
        </citiglobal-header>
        <!-- HEADER END -->

        <div class="content-card">
            <div class="content">
                <mat-tab-group
                    fxLayout="column"
                    fxFlex
                    [(selectedIndex)]="tabIndex"
                >
                    <mat-tab label="Subject Details">
                        <div
                            class="tab-content p-24"
                            fusePerfectScrollbar
                            [fusePerfectScrollbarOptions]="{
                                suppressScrollX: true
                            }"
                        >
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <!-- Subject Code -->
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Subject Code</mat-label>
                                    <input
                                        matInput
                                        formControlName="subjectCode"
                                        required
                                    />
                                    <mat-error
                                        >Subject Code is required!</mat-error
                                    >
                                </mat-form-field>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
