<div id="user-edit" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER START -->
        <citiglobal-header
            [iconName]="'person_add'"
            (backEvent)="navigateBack()"
            [isBack]="true"
        >
            <ng-template #title> {{ firstName }} {{ lastName }} </ng-template>
            <ng-template #subTitle> User Detail </ng-template>
            <ng-template #actions>
                <ng-container *ngIf="userRecord || mode == 'edit'">
                    <a
                        mat-raised-button
                        class="buttons white mt-24 mt-md-0 mr-12"
                        *ngIf="'exportList' | able : 'Logs'"
                        target="_blank"
                        (click)="exportUsers()"
                    >
                        <span>EXPORT</span>
                    </a>
                </ng-container>

                <ng-container *ngIf="userRecord || mode == 'create'">
                    <button
                        *ngIf="'update' | able : 'User' : userRecord"
                        [disabled]="userForm.invalid"
                        mat-raised-button
                        class="buttons fuse-white mt-24 mt-md-0"
                        (click)="handleUser()"
                    >
                        <span>SAVE</span>
                    </button>
                </ng-container>
            </ng-template>
        </citiglobal-header>
        <!-- HEADER END -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group fxLayout="column" fxFlex>
                    <mat-tab label="Basic Info">
                        <div
                            class="tab-content p-24"
                            fusePerfectScrollbar
                            [fusePerfectScrollbarOptions]="{
                                suppressScrollX: true
                            }"
                        >
                            <form
                                class="product w-100-p"
                                name="userForm"
                                [formGroup]="userForm"
                                (ngSubmit)="handleUser()"
                            >
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>First Name</mat-label>
                                    <input
                                        matInput
                                        formControlName="firstName"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error
                                        >First Name is required!</mat-error
                                    >
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Last Name</mat-label>
                                    <input
                                        matInput
                                        formControlName="lastName"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error
                                        >Last Name is required!</mat-error
                                    >
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Student No.</mat-label>
                                    <input
                                        matInput
                                        formControlName="studentNo"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error
                                        >Student No. is required!</mat-error
                                    >
                                </mat-form-field>

                                <citiglobal-auto-complete
                                    [hasLabel]="'Section'"
                                    placeholder="Choose Section"
                                    [options]="sectionList$ | async"
                                    [displayOption]="displayFn"
                                    (search)="handleSearchSection($event)"
                                    (selected)="handleSelectedSection($event)"
                                    [value]="currentSection"
                                >
                                    <ng-template let-option="option"
                                        ><span>{{
                                            option?.name
                                        }}</span></ng-template
                                    >
                                </citiglobal-auto-complete>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>RFID No.</mat-label>
                                    <input
                                        matInput
                                        formControlName="rfidNo"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error>RFID No. is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Email address</mat-label>
                                    <input
                                        matInput
                                        formControlName="email"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error
                                        *ngIf="hasError('email', 'required')"
                                        >Email Adress is required!</mat-error
                                    >
                                    <mat-error
                                        *ngIf="hasError('email', 'email')"
                                        >This is not a valid email
                                        address!</mat-error
                                    >
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Username</mat-label>
                                    <input
                                        matInput
                                        formControlName="username"
                                        required
                                    />
                                    <mat-icon matSuffix class="secondary-text"
                                        >account_circle</mat-icon
                                    >
                                    <mat-error>Username is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Role</mat-label>
                                    <mat-select formControlName="role" required>
                                        <mat-option
                                            *ngFor="let role of userRoles"
                                            [value]="role"
                                        >
                                            {{ role | userRoles }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text"
                                        >outlined_flag</mat-icon
                                    >
                                    <mat-error
                                        >User role is required!</mat-error
                                    >
                                </mat-form-field>
                                <mat-form-field
                                    *ngIf="mode == 'edit'"
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>Status</mat-label>
                                    <mat-select
                                        formControlName="isActive"
                                        required
                                    >
                                        <mat-option [value]="true">
                                            ACTIVE
                                        </mat-option>
                                        <mat-option [value]="false">
                                            INACTIVE
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text"
                                        >outlined_flag</mat-icon
                                    >
                                    <mat-error>Status is required!</mat-error>
                                </mat-form-field>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="end center"
                                    *ngIf="mode === 'edit'"
                                >
                                    <ng-container *ngIf="userRecord">
                                        <button
                                            mat-raised-button
                                            class="mat-accent"
                                            type="button"
                                            *ngIf="
                                                'update'
                                                    | able
                                                        : 'Users'
                                                        : userRecord
                                            "
                                            (click)="resetPassword()"
                                            [disabled]="!isActive"
                                        >
                                            <span>Reset Password</span>
                                        </button>
                                    </ng-container>
                                </div>
                            </form>
                        </div>
                    </mat-tab>

                    <mat-tab
                        label="Subjects"
                        *ngIf="hasAssignedSubject && isEditMode"
                    >
                        <ng-template matTabContent>
                            <div
                                class="tab-content p-24 pb-0"
                                fusePerfectScrollbar
                            >
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="end center"
                                    class="pb-16"
                                >
                                    <button
                                        mat-raised-button
                                        class="mat-accent"
                                        type="button"
                                        *ngIf="
                                            ('update' | able : 'User') &&
                                            canAssignSubject
                                        "
                                        (click)="assignSubject()"
                                    >
                                        <span>Assign Subject</span>
                                    </button>
                                </div>

                                <div class="section pb-48">
                                    <div
                                        class="pb-16"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                    >
                                        <mat-icon
                                            class="m-0 mr-16 secondary-text"
                                            >library_books</mat-icon
                                        >
                                        <div class="h2 secondary-text">
                                            Assigned Subjects
                                        </div>
                                    </div>
                                    <mat-table
                                        class="items-table"
                                        matSort
                                        [dataSource]="dataSource$"
                                        [@animateStagger]="{ value: '50' }"
                                        [matSortActive]="
                                            (
                                                listState$
                                                | listStateMatSort
                                                | async
                                            ).active
                                        "
                                        [matSortDirection]="
                                            (
                                                listState$
                                                | listStateMatSort
                                                | async
                                            ).direction
                                        "
                                        (matSortChange)="onToggleSort($event)"
                                    >
                                        <!-- Subject Code Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.SUBJECT_CODE
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >Subject Code</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">
                                                    {{ item.subjectCode }}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Subject Code Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.DESCRIPTION
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >Description</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">
                                                    {{ item.description }}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Start Time Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.START_TIME
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >Start Time</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">
                                                    {{ item.startTime }}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Start Time Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.END_TIME
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >End Time</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">
                                                    {{ item.endTime }}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Created At Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.CREATED_AT
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >Created At</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <p class="text-truncate">
                                                    {{
                                                        item.createdAt
                                                            | dateFormat
                                                    }}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Status Column -->
                                        <ng-container
                                            [matColumnDef]="
                                                SUBJECT_SORTABLES.ACTIVE
                                            "
                                        >
                                            <mat-header-cell
                                                *matHeaderCellDef
                                                mat-sort-header
                                                >Active</mat-header-cell
                                            >
                                            <mat-cell *matCellDef="let item">
                                                <mat-icon
                                                    *ngIf="item.isActive"
                                                    class="active-icon green-600 s-16"
                                                    >check</mat-icon
                                                >
                                                <mat-icon
                                                    *ngIf="!item.isActive"
                                                    class="active-icon red-500 s-16"
                                                    >close</mat-icon
                                                >
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Options Column -->
                                        <ng-container matColumnDef="options">
                                            <mat-header-cell
                                                *matHeaderCellDef
                                            ></mat-header-cell>
                                            <mat-cell *matCellDef="let item">
                                                <button
                                                    mat-button
                                                    [matMenuTriggerFor]="menu"
                                                    (click)="
                                                        $event.stopPropagation();
                                                        $event.preventDefault()
                                                    "
                                                >
                                                    <mat-icon
                                                        class="logo-icon s-32"
                                                        [@animate]="{
                                                            value: '*',
                                                            params: {
                                                                delay: '50ms',
                                                                scale: '0.2'
                                                            }
                                                        }"
                                                        >more_vert
                                                    </mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button
                                                        mat-menu-item
                                                        type="button"
                                                        *ngIf="
                                                            ('update'
                                                                | able
                                                                    : 'User') &&
                                                            isAssignedSubject(
                                                                item.id
                                                            )
                                                        "
                                                        (click)="
                                                            unassignSubject(
                                                                item.id
                                                            )
                                                        "
                                                    >
                                                        Remove
                                                    </button>
                                                </mat-menu>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row
                                            *matHeaderRowDef="
                                                subjectDisplayedColumns;
                                                sticky: true
                                            "
                                        ></mat-header-row>
                                        <mat-row
                                            *matRowDef="
                                                let item;
                                                columns: subjectDisplayedColumns
                                            "
                                            class="item"
                                            matRipple
                                            (click)="$event.preventDefault()"
                                        ></mat-row>
                                    </mat-table>

                                    <mat-paginator
                                        [length]="total$ | async"
                                        [pageIndex]="pageIndex$ | async"
                                        [pageSize]="pageSize$ | async"
                                        [pageSizeOptions]="
                                            pageSizeOptions$ | async
                                        "
                                        (page)="onChangePage($event)"
                                    >
                                    </mat-paginator>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
