@import 'src/@fuse/scss/fuse';

citiglobal-time-log {
  background: #550E10 !important;
  color: #fff;

  #time-log {
    width: 100%;

    .time-log-wrapper {
      height: 100%;

      .time-log-header {
        margin-top: 60px;

        .time-log-heading {
          font-size: 9.7rem;
        }

        .time-log-subheading {
          font-size: 4.209rem;
        }
      }
    }
  }

}