<div id="time-log" fxLayout="column">
    <div class="logo">
        <img src="assets/images/logo/citiglobal-logo.png" />
    </div>

    <div
        class="time-log-wrapper"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-between center"
    >
        <div
            class="time-log-header"
            fxLayout="column"
            fxLayoutAlign="center center"
        >
            <h1 class="time-log-heading">
                {{ currentDate | date : "medium" }}
            </h1>
            <h3 class="time-log-subheading">Monday, 29 Feb 2023</h3>
        </div>

        <div class="time-log-footer">
            <p class="footer-title">Administrator Login</p>
        </div>
    </div>
</div>
